* {
    margin:0;
    padding:0;
}

body {
    font-family: "Lucida Grande";
    font-size: 11px;
    overflow-x: hidden; /* supress horizontal scrolling */
}

p, img, pre {
    margin: 5px 0 0 5px;
}

h3 {
    padding: 1px 0 1px 5px;
    margin-top: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #e8e8e8; /* TODO - this is a cheat. And WRONG. */
    white-space: nowrap;
}

h3,p h3,a {
    text-decoration: none;
}

h3 a:hover, p a:hover {
    text-decoration: underline;
}

h3 img.spinner {
    margin: 0;
    padding: 0;
    float: right;
    margin-right: 5px;
}

img.flickr-image {
/*    width :75px;
    height: 75px;
    */
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 5px;
    border: 1px solid black;
}

span.feed-date {
    float: right;
    color: #444;
    font-size: 80%;
    margin-top: 5px;
}
    
p.feed-content {
    color: #444;
    font-size: 80%;
    margin-top: 2px;
}